body,html {
    width: 100%;
    height: 100%;
}

.menu-toggle {
    position: fixed;
    right: 30px;
    top: 30px;
    width: 10rem;
    height: 10rem;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    line-height: 4rem;
    z-index: 999;
}

.menu-toggle:hover {
    color: #fff;
}

.big-icon {
    margin-top: 3rem;
    font-size: 4rem;
    color: black;
}

.mast-head {
    padding-top: 40vh;
    height: 100vh;
    width: 100%;
    background-image: url('../images/escheresque_ste.png');
    background-size: 4% auto;
    background-repeat: repeat;
}

.mast-head > .container {
    max-height: 20vh;
    background-color: white;
}

.headertitle {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75vw;
    float: none;
    margin: 0 auto;
    color: white;
}

.headertitle > h1 {
    font-weight: 600;
    font-size: 450%;
    color: floralwhite
}

.text-center {
    text-align: center;
}

.content-section {
    height: 100vh;
    padding-top: 10vh;
}

.left-aligned {
    text-align: left;
}

.paneled-content {
    border: solid 2px #C99E10;
    border-radius: 5px;
    margin: 5vh;
    padding: 0.5rem;
}

hr {
    width: 8rem;
    border-color: white;
}

.aboutButtonLeftArrow {
    margin-right: 15px;
}

.aboutButtonRightArrow {
    margin-left: 15px;
}

.bg-0 {
    background-color: #1E434C;
    color: white;
}

.bg-1 {
    background-color: white;
    color: black;
}

.slideNavbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 70px;
    transition: 0.5s;
    right: 0;
}

.slideNavbar a {
    color: white;
    font-weight: 700;
}

.slideNavbar li {
    margin-top: 1rem;
}

@media only screen and (min-width: 768px){
    /*For desktops*/

}
